In [1]:
import pandas as pd

dfbig = pd.read_json('json/big_data_persons.json')
dfsmall = pd.read_json('json/small_data_persons.json')

#### Задание 1.3

In [4]:
dfbig.to_excel('excel/big_data_persons.xlsx')
dfsmall.to_excel('excel/small_data_persons.xlsx')

#### Задание 1.4

In [2]:
dfsmall[['Last','First']] = dfsmall.Name.str.split(expand=True)
dfsmall.drop(['Name'],axis=1,inplace=True)
dfsmall.sort_values('Last',inplace=True)
print(dfsmall.head())

         ID  Age      Last    First
117  591886   24    Авдеев   Корней
18   174569   54    Авдеев   Корней
76   392316   20  Агафонов    Остап
48   278400   16   Аксёнов    Натан
51   293922   29  Алексеев  Тимофей

#### второй датасет,делим колонку name на два столбца , убираем колонку name и сортируем по имени

In [3]:
dfbig[['Last','First']] = dfbig.Name.str.split(expand=True)
dfbig.drop(['Name'],axis=1,inplace=True)
dfbig.sort_values('First',inplace=True)
print(dfbig.head())

          ID  Age     Last     First
147   720141   56  Лихачёв  Аввакуум
59    298835   76  Лихачёв  Аввакуум
93    469154   20  Суворов    Август
5      27164   31  Суворов    Август
742  3739928   14   Юматов     Авдей

#### Задание 1.5 : Находим людей в small_data которых нету в big_data и выводим их в excel

In [4]:
new_df = pd.merge(dfsmall, dfbig, on=dfsmall.columns.to_list(),
how='outer', indicator=True).query("_merge == 'left_only'").drop('_merge', 1)
new_df.to_excel('excel/people_not_in_big.xlsx')
print(new_df.head())

       ID  Age      Last    First
0  591886   24    Авдеев   Корней
1  174569   54    Авдеев   Корней
2  392316   20  Агафонов    Остап
3  278400   16   Аксёнов    Натан
4  293922   29  Алексеев  Тимофей

#### Задание 1.6 : находим дубликаты по фамилии у которых разница в возрасте 10 лет и сохраняем в excel

выводим все дубликаты

In [5]:
dfnew = dfsmall[dfsmall['Last'].duplicated(keep=False)]

создаём колонку 'diff' что-бы посчитать разницу в возрасте между людьми

In [6]:
dfnew['diff'] = dfnew['Age'] - dfnew['Age'].shift()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

фильтруем только по тем где разница 10

In [7]:
dfnew1 = dfnew[(dfnew['diff'] == 10) | (dfnew['diff'] == -10)]
print(dfnew1)

        ID  Age      Last   First  diff
92  475930   20  Николаев  Эдуард -10.0

Единственное совпадение на фамилии Николаев

In [8]:
dfresult = dfnew[dfnew['Last'] == 'Николаев']
print(dfresult)

         ID  Age      Last   First  diff
32    24628   31  Николаев  Эдуард   1.0
21   196252   14  Николаев  Матвей -17.0
120  611382   30  Николаев  Матвей  16.0
92   475930   20  Николаев  Эдуард -10.0

In [9]:
dfresult.to_excel('excel/zadanie1.6.xlsx')

#### Задание 1.7 находим слова где есть английские знаки и сохраняем их в excel

In [20]:
dfenglish = dfsmall[dfsmall['First'].str.contains('[A-Za-z]') |
dfsmall['Last'].str.contains('[A-Za-z]')]
print(dfenglish)

         ID  Age      Last      First
119  604143   40   Алексей  Тeрeщенко
126  637709   77   Евгений    Дaдонов
123  624642   37  Кoшечкин    Вaсилий

In [21]:
dfenglish.to_excel('excel/contains_english_letters.xlsx')