In [11]:
import pandas as pd

df = pd.read_json('json/small_data_contracts.json')
df2 = pd.read_json('json/small_data_persons.json')

#### Задание 2.4

меняем тип данных что-бы можно было проводить с ними вычисления

In [2]:
df['From'] = pd.to_datetime(df['From'])
df['To'] = pd.to_datetime(df['To'])

cоздаём столбец что-бы просчитать разницу во времени, затем фильтруем по длительности от 5 минут

In [3]:
df['duration'] = df['To'] - df['From']
df1 = df[df['duration'] >= '00:05:00']

группируем по member_id и считаем кол-во контактов,сортируем в убывающем порядке

In [4]:

df1 = df1.groupby(['Member1_ID']).size().to_frame('count').reset_index()\
.sort_values(['count'], ascending=[False])
print(df1.head())

    Member1_ID  count
93      479697     15
35      220123     14
46      270838     14
72      374091     14
58      324457     12

соединяем две талблицы используя inner join и убирваем не нужные столбцы

In [9]:
new_df = pd.merge(df1,df2,left_on='Member1_ID',right_on='ID',how='inner')
new_df = new_df[['ID','Name','Age','count']]
(new_df)

         ID               Name  Age  count
0    479697     Суворов Август   46     15
1    220123      Марков Людвиг   20     14
2    270838  Овечкин Александр   35     14
3    374091      Назаров Игорь   85     14
4    324457     Малкин Евгений   33     12
..      ...                ...  ...    ...
123  266954       Архипов Алан   22      3
124   79173      Воробьёв Аким   80      3
125   12657    Доронин Евгений   84      3
126  150154      Ширяев Андрей   28      2
127    1899   Григорьев Гордий   44      1

[128 rows x 4 columns]

#### ЗАДАНИЕ 2.5 : Вывести список людей, отсортированный в обратном порядке по общей длительности контакта с другими людьми

группируем по Member1_ID и суммируем длительность котнтактов , сортируем по длительности и выводим в обратном порядке

In [6]:

dfx = df.groupby(['Member1_ID'])['duration'].sum().to_frame('sum_contact_duration').reset_index()\
.sort_values(['sum_contact_duration'],ascending=[False])

соединяем две талблицы используя inner join и убираем не нужные столбцы

In [7]:
dfxx = pd.merge(dfx,df2,left_on='Member1_ID',right_on='ID',how='inner')
dfxx = dfxx[['ID','Name','Age','sum_contact_duration']]
print(dfxx)

         ID              Name  Age sum_contact_duration
0    220123     Марков Людвиг   20             09:32:09
1    479697    Суворов Август   46             09:07:35
2    374091     Назаров Игорь   85             08:25:45
3    362731      Лукин Платон   61             07:37:42
4    517124  Артемьев Назарий   37             07:12:32
..      ...               ...  ...                  ...
123   79173     Воробьёв Аким   80             01:36:32
124   12657   Доронин Евгений   84             01:26:20
125  266954      Архипов Алан   22             01:09:45
126  150154     Ширяев Андрей   28             01:02:49
127    1899  Григорьев Гордий   44             00:33:11

[128 rows x 4 columns]